﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="UserUI.Master.cs" MasterPageFile="~/Common/BaseUI.master"
    Inherits="HawkHome.UserUI" %>

<%@ Register Src="~/Common/Controls/ItemList/ItemList.ascx" TagPrefix="userControl" TagName="ItemList" %>
<%@ Register Src="~/Common/Controls/UserDataFilter/DataFilter.ascx" TagPrefix="userControl" TagName="DataFilters" %>
<%@ Register Src="~/Common/Controls/Monitoring/MonitoringMenu.ascx" TagPrefix="userControl" TagName="MonitoringMenu" %>


<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <script type="text/javascript">
        var page = 'index';
    </script>
    <script src="https://code.jquery.com/ui/1.9.2/jquery-ui.js" type="text/javascript"></script>
    <script type="text/javascript" src="<%=ResolveUrl("~/JS/jquery.filter_input.js")%>"></script>
    <script type="text/javascript" src="<%=ResolveUrl("~/JS/user_page_init.js")%>"></script>
    <script type="text/javascript" src="<%=ResolveUrl("~/JS/support.js")%>"></script>
    <script src="<%=ResolveUrl("~/JS/Base/FormatUtils.js")%>"></script>
    <script src="<%=ResolveUrl("~/JS/knockout.js")%>"></script>
    
    <link href="https://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="<%=ResolveUrl("~/Stylesheet/liveChatBox.css")%>" rel="stylesheet" />
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainWindow" runat="server">
    <div class="container pure-skin-paraben">
        <div class="mtop20">
            <div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left pleft10 full_height pall10 device-list-container">
                <div class="mtop25">
                    <h6 class="text-center">Monitored Devices</h6>
                    <hr />
                    <div>
                        <ul class="nav nav-pills nav-stacked">
                            <li>
                                <asp:LinkButton ID="btnNewAgent" runat="server" CssClass="label_color_black"
                                    OnClick="btnNewAgent_Click">
                                               <span class="glyphicon glyphicon-plus"></span> New Agent
                                </asp:LinkButton>
                            </li>
                            <li>
                                <asp:LinkButton ID="btnRefresh" runat="server" CssClass="label_color_black"
                                    OnClick="btnRefresh_Click">
                                               <span class="glyphicon glyphicon-refresh"></span> Refresh
                                </asp:LinkButton>
                            </li>
                        </ul>
                    </div>
                    <hr />
                    <div>
                        <userControl:ItemList runat="server" ID="ItemList" />
                    </div>
                </div>
            </div>
            <a class="toggle-menu menu-left sticky-left"><span class="glyphicon glyphicon-triangle-right"></span>
                <img src="/images/device.png" alt="" class="device-list-btn" title="Click here to view device list" /></a>
            <div class="col-sm-12">
                <div id="general_content_containter" class="min_height">
                    <div id="outer_container" style="margin: 6px;">
                        <div id="navigation">
                            <div id="header" runat="server">
                                    <h4 class="page-header-left"><asp:Label ID="lblHeader" runat="server" Text=""></asp:Label></h4>
                                    <asp:LinkButton ID="btnRefreshPage" runat="server" CssClass="btn btn-sm background_color_gray label_color_black"
                                    OnClick="btnRefresh_Click">
                                               <i class="glyphicon glyphicon-refresh"></i> Refresh
                                </asp:LinkButton>


                                <hr class="edit_account_hr" />
                            </div>
                            <userControl:MonitoringMenu runat="server" ID="MonitoringMenu" />
                        </div>
                        <userControl:DataFilters runat="server" ID="DataFilters" />
                        <div class="row mbottom10" runat="server" id="divRecordsPerPage">
                            <div class="col-sm-6">
                                <label id="lblRecordsFound" runat="server" class="mtop10"></label>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-inline pull-right">
                                    <label class="control-label" for="ddlRecordsPerPage">Results per page:&nbsp;</label>
                                    <asp:DropDownList ID="ddlRecordsPerPage" runat="server" CssClass="records_per_page form-control"></asp:DropDownList>
                                </div>
                            </div>
                        </div>
                        <div id="inner_content">
                            <asp:ContentPlaceHolder ID="contentMain" runat="server">
                            </asp:ContentPlaceHolder>
                        </div>
                        <div>
                            <input id="txtUserTimeZone" type="hidden" runat="server" value="USER TIME ZONE" class="userTimeZone" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="chat-support">
        <div data-bind="with: currentLicense" class="row">
            <div class="col-sm-12 subscription-box-padding">
            <p><strong><span class="glyphicon glyphicon-wrench green-label"></span> Support by phone:</strong></p>
            <p><strong><span class="glyphicon glyphicon-phone-alt green-label"></span> <span data-bind="text: $root.currentLicense().phone"></span></strong></p>
                </div>
        </div>
         <div data-bind="ifnot: currentLicense"  class="row">
             <div class="col-sm-12 subscription-box-padding">
            <p><strong><span class="glyphicon glyphicon-wrench red-label"></span> Support by phone:</strong></p>
            <p><span class="glyphicon glyphicon-phone-alt red-label"></span> <a href="/User/Billing/Billing.aspx"><span>disabled</span></a></p>
                 </div>
        </div>
        <div id="craftysyntax_1">
            <script type="text/javascript" src="https://www.paraben.com/livechat/livehelp_js.php?eo=0&amp;department=1&amp;serversession=1&amp;pingtimes=10&amp;secure=Y&amp;dynamic=Y&amp;creditline=L"></script>
        </div>
    </div>
</asp:Content>
