﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="PaymentTestingSimulator.Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
       <a href="/ANet/ANSilentPostSuccess.html">Simulate succssful ANet Silent Post request</a><br>
        <a href="/ANet/PaymentRequest.aspx">Make payment and create subscription</a><br>
        <a href="/PayPal/PayPal.aspx">Make PayPal Payment</a><br>
    </div>
    </form>
</body>
</html>
