﻿/*Title:   Custom Css File
Author:  http://themeforest.net/user/lorthemes // Bogdan Laurentiu
PLACE HERE YOUR OWN CSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
I WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */



.numberCircle {
    font: 27px Arial, sans-serif;
    font-weight:bold;

    width: 2em;
    height: 2em;
    box-sizing: initial;
    
    background: none;
    border: 0.2em solid #fff;
    color: #fff;
    text-align: center;
    border-radius: 50%;    
    
    line-height: 2em;
    box-sizing: content-box;
    margin-right:20px;
}

/* bubble style*/

.bubble{
    
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;

}

.bubble::before {
    background-color: #F2F2F2;
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform:             rotate( 29deg ) skew( -35deg );
        -moz-transform:    rotate( 29deg ) skew( -35deg );
        -ms-transform:     rotate( 29deg ) skew( -35deg );
        -o-transform:      rotate( 29deg ) skew( -35deg );
        -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
}

.me {
    float: left;   
    margin: 5px 45px 5px 10px;  
    background-color: #F2F2F2;       
}

.me::before {
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    left: -9px;           
}

.you {
    float: right;    
    margin: 5px 10px 5px 45px;  
           background-color: #f7c261;
}

.you::before {
    box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
    right: -9px;
    background-color: #f7c261;    
}


.bubble-padding{
    padding: 10px;
}
/* bubble style end*/

.theirsaddress {
    padding-left: 5%;
}

#agreementText p {
    text-align: justify !important;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.hide {
    display: none;
}

.hide_important {
    display: none !important;
}

.show {
    display: block;
}

.min_height {
    min-height: 500px !important;
}

.common_border {
    border: 1px solid #D4D4D4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.gen_wrapper {
    margin-left: 20px;
    margin-right: 20px;
}

.login_box {
    margin-right: auto;
    margin-left: auto;
    margin-top: 200px;
}

.label_color_white {
    font-weight: 500 !important;
    color: white !important;
    -webkit-text-shadow: none !important;
    text-shadow: none !important;
}

.label_color_black {
    font-weight: 500 !important;
    color: black !important;
    -webkit-text-shadow: none !important;
    text-shadow: none !important;
}

.label_color_gray {
    color: #999 !important;
}

.menu_bold {
    font-weight: bold !important;
    -webkit-text-shadow: none !important;
    text-shadow: none !important;
}

.top_message {
    margin-top: 5px;
    margin-bottom: 5px;
}

.top_banner {
    overflow: hidden;
    border-radius: 4px;
    margin-bottom: 5px;
    /*background-color: #d5a10f;*/
    /* IE6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5a10f', endColorstr='#d5a10f',GradientType=0 );
    /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(top, #d5a10f 0%, #d5a10f 100%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #d5a10f 0%, #d5a10f100%);
    /* Opera */
    background-image: -o-linear-gradient(top, #d5a10f 0%, #d5a10f 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d5a10f), color-stop(1, #d5a10f));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #d5a10f 0%, #d5a10f 100%);
    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to bottom, #d5a10f 0%, #d5a10f 100%);
    /*height: 100%;*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*#faa732 #f89406*/
}

.company_logo {
    margin-right: 10px;
}

.filter_field {
    margin-left: 2px;
    margin-right: 2px;
}

.device-select-row {
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 4px;
}

.elements_margin {
    margin-top: 10px;
    margin-bottom: 10px;
}

.elements_margin_horiz {
    margin-left: 10px;
    margin-right: 10px;
}

.center_margin {
    margin-left: auto;
    margin-right: auto;
}

.selected-item:not(.item) {
    background-color: #fbb450;
}

.long_word_fix {
    table-layout: fixed;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.page-header-left{
    float: left;
    margin-right: 6px;
}

.img-right-margin{
    margin-right:20px;
}

.size_logo {
    max-height:50px;
    max-width:142px;
}

.cyber_logo {
    background: url(../Images/hawk_cyber_background.png) repeat-x;
}

.shine_overlay {
    background: url(../Images/hawk-shine-overlay.png) no-repeat;
    -moz-background-size: contain;
    -o-background-size: contain;
    -webkit-background-size: contain;
    background-size: contain;
    -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../Images/hawk-shine-overlay.png', sizingMethod='scale');
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../Images/hawk-shine-overlay.png', sizingMethod='scale');
}

.jp-container {
    width: 100% !important;
    height: 450px;
    position: relative;
    background: #fff;
    float: left;
}

    .jp-container a:hover {
        background: #f2f2f2;
        border-bottom-color: #f2f2f2;
    }

/* style for selected element*/
div.device-select-row div.row a div.span13 div.selected-item {
    font-weight: bold;
    color: Black !important;
}

.edit_account_hr {
    border-top: 1px solid #faa62c;
    border-bottom: 1px solid #faa62c;
}

.half {
    width: 50%;
}

.totals_col_width {
    width: 26.66%;
}

.totals_width {
    width: 20%;
}

.full_width {
    width: 100% !important;
}

.full_height {
    height: 100% !important;
}

#recaptcha_image img {
    border-radius: 4px;
}

.step_height {
    min-height: 500px !important;
}

.mail_template_edit_height {
    min-height: 350px !important;
}

.step_sidebar {
    width: 160px;
}

.asp_radio_fix {
    margin-left: 20px;
}

.notification_popover {
    font-size: 12px;
}

.popover_footer {
    text-align: center;
    font-style: italic;
}

.text_align_center {
    text-align: center !important;
}

.license_divider {
    height: 1px;
    margin: 3px 1px;
    overflow: hidden;
    background-color: #e5e5e5;
    border-bottom: 1px solid #ffffff;
}

.float_inline_height_fix {
    position: relative;
    top: 2px;
}

.payment_margin {
    margin-left: 30px;
}

.payment_system_list_margin {
    margin-left: 15px;
}

.checkout_button {
    min-width: 100px !important;
}

.device_info_button {
    min-width: 150px !important;
}

.monitored_devices_button {
    min-width: 85px !important;
}

.zero_margin_bottom {
    margin-bottom: 0px !important;
}

.pager td table tbody tr td {
    padding: 0px;
    border: 0px;
}

.pager a {
    text-decoration: none;
    background-color: #f5f5f5;
    padding: 2px 5px;
}

.pager span {
    background-color: #f89406;
    color: #000;
    font-weight: bold;
    padding: 2px 5px;
}

.pager a:hover {
    color: #000000;
}

.pager td {
    background-color: #f5f5f5;
}

.textarea {
    display: block;
    width: 90%;
    height: 100%;
}

.inline_alert {
    font-size: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    width: 100%;
    display: inline-block;
    margin-bottom: 0px;
    vertical-align: sub;
}

.prices_note {
    margin-top: 20%;
    font-size: 12px;
    text-align: center;
}

.hide_overflow_text {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.prices_width {
    max-width: 700px;
}

.text-bold {
    font-weight: bold;
}

.subscription-details-content {
    border-radius: 0px 0px 4px 4px !important;
    border-top: 0px !important;
}

.zero_padding_top {
    padding-top: 0px !important;
}

.small_top_margin {
    margin-top: 40px;
}

.popup_padding {
    padding: 20px;
}

.table_cell_solid_border {
    border: 1px solid #000000;
}

.valign_top {
    vertical-align: top;
}

.valign_middle {
    vertical-align: middle !important;
}

.loader {
    background-image: url(/images/loading.gif);
    background-repeat: no-repeat;
}

.map_coordinate_center {
    text-align: center;
    display: block;
}

    .map_coordinate_center:hover {
        text-decoration: none;
    }

.records_per_page {
    width: 70px;
    margin: 0px !important;
}

.text_align_in_span {
    margin-top: 4px;
}

.text_vert_align_middle {
    vertical-align:middle;
}

.footer_link {
    padding: 10px 15px 10px;
}

.paraben_color {
    color: #f89406;
}

.text_justify {
    text-align: justify !important;
}

.loading-bar {
    height: 40px;
    width: 40px;
    height: 100%;
    width: 100%;
    background: transparent url(/Images/loading.gif) no-repeat 50% 50%;
}

.upcoming_payment_width {
    width: 70%;
}

.chevron {
    height: 40px;
    cursor: pointer;
}

.page_counter {
    display: inline-block;
    width: 150px;
    height: 40px;
}

.margin-md-bottom {
    margin-bottom: 20px;
}

#PageMainContent label, .cursor_text {
    cursor: text;
}

.cursor_pointer {
    cursor: pointer !important;
}

.sticky-left {
    position: fixed;
    top: 40%;
    width: 32px;
    left: 0px;
    cursor: pointer;
    z-index: 100;
}

.device-list-btn {
    width: 40px;
    height: 80px;
}


@media (min-width:1244px) {
    .device-list-btn {
        width: 80px;
        height: 160px;
    }
}



.text-left-important {
    text-align: left !important;
}

.background_color_gray {
    background-color: #DDDDDD;
}

.custom-header-style {
    font-weight: 500 !important;
    color: black !important;
    -webkit-text-shadow: none !important;
    text-shadow: none !important;
    vertical-align: middle !important;
}

.popup-btn-width {
    width: 68px;
}

.pagination ul {
    margin-bottom: 0px;
}

.pagination ul li.active a {
    background-color: #f0b310;
}

.pagination-custom ul li.active a {
    background-color: #f0b310;
}

.pagination-custom .pagination{
    margin:0px;
    cursor: pointer;
}

.pagination-custom .pagination .active a{
    border: solid 1px #e5e4e4;
}

.pagination > li:first-child > a {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

.pagination > li:last-child > a {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

.border-top {
    border-top: 1px solid transparent;
}

@media screen and (min-width: 768px) {
    .article {
        max-height: 10em;
    }
}

a[data-readmore-toggle] {
    text-align: right;
    height: 30px;
}

    a[data-readmore-toggle]:hover {
        color: #f89406;
    }

    a[data-readmore-toggle] .glyphicon {
        margin: 7px 10px 0 0;
    }

.article[data-readmore] {
    border-bottom: none;
}

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > a[data-readmore-toggle] {
    background-color: #f9f9f9;
}

.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > a[data-readmore-toggle] {
    background-color: #f5f5f5;
}

.relative-pos {
    position: relative;
}

.btn-action-change-time {
    color: #777777;
}

.btn-device-list {
    display: block;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.no-border {
    border: none;
}

.device-list-container {
    border-right: 1px solid #D4D4D4;
}

.faq-header-label {
    color: #333333;
    font-weight: 500;
    padding-right: 5px;
}

    .faq-header-label:hover {
        color: #000000;
        font-weight: 500;
    }

.ellipsis {
    max-width: 300px;
    max-height: 150px;
}

.features-screenshot {
    max-height: 180px;
}

.supportPictureSize{
    max-height:450px;
    max-width:261px;
}


/*  Slider  */
@font-face {
    font-family: 'flickerplate';
    src: url("/fonts/icomoon.eot?c4hmew");
    src: url("/fonts/icomoon.eot?#iefixc4hmew") format("embedded-opentype"),url("/fonts/icomoon.woff?c4hmew") format("woff"),url("/fonts/icomoon.ttf?c4hmew") format("truetype"),url("/fonts/icomoon.svg?c4hmew#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}

.flickerplate {
    position: relative;
    width: 100%;
    height: 600px;
    background-color: transparent;
    overflow: hidden;
}

    .flickerplate ul.flicks {
        width: 10000%;
        height: 100%;
        padding: 0px;
        margin: 0px;
        list-style: none;
    }

        .flickerplate ul.flicks > li {
            float: left;
            width: 1%;
            height: 100%;
            background-position: center;
            background-size: contain;
            background-repeat:no-repeat;
        }

            .flickerplate ul.flicks > li .flick-inner {
                height: 100%;
                padding: 10px;
                color: #fff;
                vertical-align: middle;
            }

                .flickerplate ul.flicks > li .flick-inner .flick-content {
                    max-width: 68.75em;
                    margin-left: auto;
                    margin-right: auto;
                }

            .flickerplate ul.flicks > li .flick-title {
                padding: 0px;
                /*                text-align: center;*/
                line-height: 56px;
                line-height: 3.5rem;
                font-size: 28px;
                font-size: 1.75rem;
            }

@media only screen and (min-width: 43.813em) {
    .flickerplate ul.flicks > li .flick-title {
        line-height: 75px;
        line-height: 4.6875rem;
        font-size: 44px;
        font-size: 2.75rem;
    }
}

.flickerplate ul.flicks > li .flick-sub-text {
    padding: 5px;
    color: rgba(255,255,255,0.8);
    font-size: 16px;
    font-size: 1rem;
    font-weight: 300;
}

    .flickerplate ul.flicks > li .flick-title span.flick-block-text, .flickerplate ul.flicks > li .flick-sub-text span.flick-block-text {
        color: #000000;
    }

.flickerplate .arrow-navigation {
    display: block;
    position: absolute;
    top: 10%;
    width: 10%;
    height: 80%;
    z-index: 100;
    overflow: hidden;
    font-family: "flickerplate";
    vertical-align: middle;
}

    .flickerplate .arrow-navigation:before {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -25px;
        margin-top: -25px;
        height: 50px;
        width: 50px;
        opacity: 0;
        filter: alpha(opacity=0);
        text-align: center;
        color: #f89406;
        font-size: 48px;
        font-size: 3rem;
        -webkit-transition: opacity 0.2s ease-out;
        -moz-transition: opacity 0.2s ease-out;
        -o-transition: opacity 0.2s ease-out;
        -ms-transition: opacity 0.2s ease-out;
        transition: opacity 0.2s ease-out;
    }

    .no-touch .flickerplate .arrow-navigation:hover {
        cursor: pointer;
    }

        .no-touch .flickerplate .arrow-navigation:hover.left:before, .no-touch .flickerplate .arrow-navigation:hover.right:before {
            opacity: 1;
            filter: alpha(opacity=100);
        }

    .no-touch .flickerplate .arrow-navigation:active.left:before, .no-touch .flickerplate .arrow-navigation:active.right:before {
        margin-top: -23px;
    }

    .flickerplate .arrow-navigation.left {
        left: 0%;
    }

        .flickerplate .arrow-navigation.left:before {
            content: "\f104";
        }

    .flickerplate .arrow-navigation.right {
        right: 0%;
    }

        .flickerplate .arrow-navigation.right:before {
            content: "\f105";
        }

.flickerplate .dot-navigation {
    position: absolute;
    bottom: 15px;
    width: 100%;
    text-align: center;
    z-index: 100;
}

    .flickerplate .dot-navigation ul {
        text-align: center;
        list-style: none;
        padding: 0px 15px;
    }

        .flickerplate .dot-navigation ul li {
            display: inline-block;
            float: none;
        }

    .flickerplate .dot-navigation .dot {
        width: 14px;
        height: 14px;
        margin: 0px 6px;
        background-color: rgba(0,0,0,0.2);
        border-radius: 50%;
        -o-border-radius: 50%;
        -ms-border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        background-clip: padding-box;
        -webkit-transition: background-color 0.2s ease-out;
        -moz-transition: background-color 0.2s ease-out;
        -o-transition: background-color 0.2s ease-out;
        -ms-transition: background-color 0.2s ease-out;
        transition: background-color 0.2s ease-out;
    }

        .flickerplate .dot-navigation .dot:hover {
            cursor: pointer;
            background-color: rgba(0,0,0,0.1);
        }

        .flickerplate .dot-navigation .dot.active {
            background-color: rgba(0,0,0,0.3);
        }

    .flickerplate .dot-navigation.left, .flickerplate .dot-navigation.left ul {
        text-align: left;
    }

    .flickerplate .dot-navigation.right, .flickerplate .dot-navigation.right ul {
        text-align: right;
    }

.flickerplate.flicker-theme-dark .dot-navigation .dot {
    background-color: rgba(0,0,0,0.12);
}

    .flickerplate.flicker-theme-dark .dot-navigation .dot:hover {
        background-color: rgba(0,0,0,0.6);
    }

    .flickerplate.flicker-theme-dark .dot-navigation .dot.active {
        background-color: #000;
    }

.flickerplate.flicker-theme-dark ul.flicks li .flick-inner {
    color: rgba(0,0,0,0.9);
}

    .flickerplate.flicker-theme-dark ul.flicks li .flick-inner .flick-content .flick-sub-text {
        color: rgba(0,0,0,0.9);
    }

        .flickerplate.flicker-theme-dark ul.flicks li .flick-inner .flick-content .flick-title span.flick-block-text, .flickerplate.flicker-theme-dark ul.flicks li .flick-inner .flick-content .flick-sub-text span.flick-block-text {
            background-color: rgba(255,255,255,0.5);
        }

.flickerplate ul.flicks li.flick-theme-dark .flick-inner {
    color: rgba(0,0,0,0.9);
}

    .flickerplate ul.flicks li.flick-theme-dark .flick-inner .flick-content .flick-sub-text {
        color: rgba(0,0,0,0.9);
    }

        .flickerplate ul.flicks li.flick-theme-dark .flick-inner .flick-content .flick-title span.flick-block-text, .flickerplate ul.flicks li.flick-theme-dark .flick-inner .flick-content .flick-sub-text span.flick-block-text {
            background-color: rgba(255,255,255,0.5);
        }

.flickerplate.animate-transform-slide ul.flicks {
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    transform: translate3d(0%, 0px, 0px);
    -webkit-transform: translate3d(0%, 0px, 0px);
    -webkit-transition: -webkit-transform 0.2s ease-out;
    -o-transition: -o-transform 0.2s ease-out;
    -moz-transition: -moz-transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
}

@media only screen and (min-width: 43.813em) {
    .flickerplate.animate-transform-slide ul.flicks {
        -webkit-transition: -webkit-transform 0.6s ease-out;
        -o-transition: -o-transform 0.6s ease-out;
        -moz-transition: -moz-transform 0.6s ease-out;
        transition: transform 0.6s ease-out;
    }
}

.flickerplate.animate-transition-slide ul.flicks {
    position: relative;
    left: 0%;
    -webkit-transition: left 0.2s ease-in-out;
    -moz-transition: left 0.2s ease-in-out;
    -o-transition: left 0.2s ease-in-out;
    -ms-transition: left 0.2s ease-in-out;
    transition: left 0.2s ease-in-out;
}

@media only screen and (min-width: 43.813em) {
    .flickerplate.animate-transition-slide ul.flicks {
        -webkit-transition: left 0.6s ease-in-out;
        -moz-transition: left 0.6s ease-in-out;
        -o-transition: left 0.6s ease-in-out;
        -ms-transition: left 0.6s ease-in-out;
        transition: left 0.6s ease-in-out;
    }
}

.flickerplate.animate-jquery-slide ul.flicks {
    position: relative;
    left: 0%;
}

.flickerplate.animate-scroller-slide {
    padding-bottom: 0px;
    overflow: auto;
}

    .flickerplate.animate-scroller-slide ul.flicks {
        position: auto;
    }

.flickerplate.animate-transition-fade ul.flicks {
    position: relative;
}

    .flickerplate.animate-transition-fade ul.flicks li {
        float: none;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        filter: alpha(opacity=0);
    }

.flickerplate.animate-transition-fade.fade-inited ul.flicks li {
    -webkit-transition: opacity 0.8s linear;
    -moz-transition: opacity 0.8s linear;
    -o-transition: opacity 0.8s linear;
    -ms-transition: opacity 0.8s linear;
    transition: opacity 0.8s linear;
}

    .flickerplate.animate-transition-fade.fade-inited ul.flicks li.first-flick {
        opacity: 1;
        filter: alpha(opacity=100);
    }

.flickerplate.animate-jquery-fade ul.flicks {
    position: relative;
}

    .flickerplate.animate-jquery-fade ul.flicks li {
        float: none;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        filter: alpha(opacity=0);
    }

.slider-title {
    font-weight: 500;
}

.slider-text {
    font-weight: 100;
}

.slider-table {
    height: 530px;
}

.slider-paraben-text {
    vertical-align: middle;
    text-align: center;
}

.registration-form-header {
    font-weight: 400;
    text-align: center;
}

.registration-form-centered {
    width: 304px;
    margin-left: auto;
    margin-right: auto;
}

.registration-button-container {
    width: 166px;
    margin-left: auto;
    margin-right: auto;
}

.explicit-link{
    text-decoration:underline;
}

.tutorial-slide-android{
    width: 274px;
    height: 488px;
}

.tutorial-slide-android-2x{
    width: 455px;
    height: 380px;
}

.tutorial-slide-ios{
    width: 274px;
    height: 412px;
}

.tutorial-slide-ios-2x{
    width: 548px;
    height: 412px;
}

.tutorial-slide-ios-8{
    width: 274px;
    height: 486px;
}

.tutorial-slide-ios-8-truncated{
    width: 274px;
}

.inline-block{
    display:inline-block;
}

.no-float{
    float:none !important;
}

.os_not_selected{
     opacity: 0.3;
}

.os-button{
    width: 96px !important;
    height: 96px !important;
}

.text-black{
    color: #000000;
}

.btn-user-management{
    width: 195px;
}

.embedded-video-home{
    width: 100%; 
    max-width: 560px; 
    height:315px;
}

/* User Management columns */
.tools-col{
    width:220px;
}

.email-verified-col{
    width:60px;
}

.blue{
    color:#428bca;
}

.resize_none{
    resize:none;
}

@media (min-width: 1200px) {
    .adjust_header_column {
    table-layout:auto; 
    word-wrap:normal
    }
}

/* Chat support */
#chat-support { position: fixed; bottom: 0px; right: 60px;}

.img-custom-thumbnail {
    display: inline-block;
    width: 100% \9;
    max-width: 100%;
    height: auto;
    padding: 1px;
    line-height: 1.42857143;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
li.mouseover-pointer { cursor: pointer; }