﻿body {
  color : #000000;
  background : #ffffff;
  font-family : "Times New Roman", Times, serif;
  font-size : 12pt;
}

#header {
  display:none;
}

#print_button {
  display:none;
}

#footer {
  display:none;
}

#back-top {
  display:none;
}

#chat-support {
  display:none;
}