﻿/* foundational CSS */
.pure-skin-paraben .pure-table {
    /* Remove spacing between table cells (from Normalize.css) */
    border-collapse: separate;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #e6e6e6;
}

.pure-skin-paraben .pure-table caption {
    color: #adadad;
    font: italic 85%/1 arial, sans-serif;
    padding: 1em 0;
    text-align: center;
}

.pure-skin-paraben .pure-table td,
.pure-skin-paraben .pure-table th {
    border-left: 1px solid #e6e6e6;/* inner column border */
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible; /*to make ths where the title is really long work*/
    padding: 0.3em 0.6em; /* cell padding */
}

.pure-skin-paraben .pure-table td:first-child,
.pure-skin-paraben .pure-table th:first-child {
    border-left-width: 0;
}

.pure-skin-paraben .pure-table thead {
    background-color: #fbae41;
    color: #1e1201;
    text-align: left;
    vertical-align: bottom;
    white-space: nowrap;
}

/*
striping:
even - #fff (white)
odd - #edf5ff (light blue)
*/
.pure-skin-paraben .pure-table td {
    background-color: #f5f5f5;
    color: #474747;
}
.pure-skin-paraben .pure-table-odd td {
    background-color: #e6e6e6;
    color: #2e2e2e;
}

/* BORDERED TABLES */
.pure-skin-paraben .pure-table-bordered td {
    border-bottom:1px solid #e6e6e6;
}
.pure-skin-paraben .pure-table-bordered tbody > tr:last-child td,
.pure-skin-paraben .pure-table-horizontal tbody > tr:last-child td {
    border-bottom-width: 0;
}

/* HORIZONTAL BORDERED TABLES */
.pure-skin-paraben .pure-table-horizontal td,
.pure-skin-paraben .pure-table-horizontal th {
    border-width: 0 0 1px 0;
    border-bottom:1px solid #e6e6e6;
}
.pure-skin-paraben .pure-table-horizontal tbody > tr:last-child td {
    border-bottom-width: 0;
}

